/* Header */
.Header{
    width: 100% !important;
    height: 50px !important;
    padding-top: 15px !important;
}

.HeaderTitle{
    margin: auto auto !important;
    font-family: 'Yatra One', cursive;
    max-width:  325px !important;
    color: var(--primary) !important;
    font-size: 2.5rem !important;
}

.GitHubBanner{
fill:var(--primary); color:#fff; position: absolute; top: 0; border: 0; right: 0;
}
.octo_arm{
    transform-origin: 130px 106px;
}
.github_corner:hover .octo_arm{
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-25deg)}
    40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px){
    .github_corner:hover .octo-arm{
        animation:none
    }
    .github_corner .octo_arm{
        animation:octocat-wave 560ms ease-in-out
    }
}

/* Wall */
.ProfileCardContainer{
    max-width: 80vw !important;
    margin: 40px auto !important;
}

/* Card */
.ProfileCard{
    max-width: 80vw !important;
    margin: 40px auto !important;
    padding: 20px;
    /* background: #ebf5fc; */
    border-radius: 3rem;
    box-shadow:.8rem .8rem 1.4rem var(--greyLight-2), 
            -.2rem -.2rem 1.8rem var(--white);
  }

/* Search */
.SearchComponent{
    width: 100% !important;
    text-align: center !important;
    margin-top: 20px !important;
    margin-bottom: 5px !important;
    text-align: center !important;    
}

.search {
    margin: auto auto !important;
    width: 21rem !important;
    position: relative !important;
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}
.search__input {
    width: 20.4rem !important;
    height: 4rem !important;
    border: none !important;
    border-radius: 1rem !important;
    font-size: 1.4rem !important;
    padding-left: 3.8rem !important;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white) !important;
    background: none !important;
    font-family: inherit !important;
    color: var(--greyDark) !important;
}
.search__input::-webkit-input-placeholder {
    color: var(--greyLight-3) !important;
}
.search__input::-moz-placeholder {
    color: var(--greyLight-3) !important;
}
.search__input:-ms-input-placeholder {
    color: var(--greyLight-3) !important;
}
.search__input::-ms-input-placeholder {
    color: var(--greyLight-3) !important;
}
.search__input::placeholder {
    color: var(--greyLight-3) !important;
}
.search__input:focus {
    outline: none !important;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white) !important;
}
.search__input:focus + .search__icon {
    color: var(--primary) !important;
}
.search__icon {
    height: 2rem !important;
    position: absolute !important;
    font-size: 2rem !important;
    padding: 0 1rem !important;
    display: -webkit-box !important;
    display: flex !important;
    color: var(--greyDark) !important;
    -webkit-transition: .3s ease !important;
    transition: .3s ease !important;
}

/* Card Header */
 
.CardHeader{
    display: flex;
    justify-content: space-between;
}

.switch {
    margin-right: 10px;
}
.switch input {
    display: none;
}
.switch__toggle{
    width: 6rem;
}
.switch__toggle label{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
    border-radius: 1.6rem;
}
.switch__toggle label::after {
    content: "";
    position: absolute;
    left: .4rem;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    background: var(--greyDark);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.switch__toggle label::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.switch input:checked ~ label::before {
    opacity: 1;
}
.switch input:checked ~ label::after {
    left: 57%;
    background: var(--greyLight-1);
} 

.chipLeft {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.chipRight {
    float: right !important;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 15rem;
    height: 6rem;
    border-radius: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.icon__github{
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--greyDark);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.icon__github:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--primary);
}
.icon__github:hover {
    color: var(--primary);
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .HeaderTitle{
        font-family: 'Yatra One', cursive;
        max-width:  240px !important;
        font-size: 1.75rem !important;
    }

    .CardHeader{
        display: unset;
    }

    .ProfileCardContainer{
        max-width: 90vw !important;
    }

    .ProfileCard{
        max-width: 90vw !important;
    }
}
