/* Header */
.Header{
    width: 100% !important;
    height: 50px !important;
    padding-top: 15px !important;
}

.HeaderTitle{
    margin: auto auto !important;
    font-family: 'Yatra One', cursive;
    max-width:  325px !important;
    color: var(--primary) !important;
    font-size: 2.5rem !important;
}

.GitHubBanner{
fill:var(--primary); color:#fff; position: absolute; top: 0; border: 0; right: 0;
}
.octo_arm{
    transform-origin: 130px 106px;
}
.github_corner:hover .octo_arm{
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-25deg)}
    40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px){
    .github_corner:hover .octo-arm{
        animation:none
    }
    .github_corner .octo_arm{
        animation:octocat-wave 560ms ease-in-out
    }
}

/* Wall */
.ProfileCardContainer{
    max-width: 75vw !important;
    margin: 40px auto !important;
}

/* Card */
.ProfileCard{
    max-width: 75vw !important;
    margin: 40px auto !important;
    padding: 20px;
    /* background: #ebf5fc; */
    border-radius: 3rem;
  box-shadow:.8rem .8rem 1.4rem var(--greyLight-2), 
            -.2rem -.2rem 1.8rem var(--white);
  }

/* Search */
.SearchComponent{
    width: 100% !important;
    text-align: center !important;
    margin-top: 20px !important;
    margin-bottom: 5px !important;
    text-align: center !important;    
}

.search {
    margin: auto auto !important;
    width: 18% !important;
    position: relative !important;
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}
.search__input {
    width: 20.4rem !important;
    height: 4rem !important;
    border: none !important;
    border-radius: 1rem !important;
    font-size: 1.4rem !important;
    padding-left: 3.8rem !important;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white) !important;
    background: none !important;
    font-family: inherit !important;
    color: var(--greyDark) !important;
}
.search__input::-webkit-input-placeholder {
    color: var(--greyLight-3) !important;
}
.search__input::-moz-placeholder {
    color: var(--greyLight-3) !important;
}
.search__input:-ms-input-placeholder {
    color: var(--greyLight-3) !important;
}
.search__input::-ms-input-placeholder {
    color: var(--greyLight-3) !important;
}
.search__input::placeholder {
    color: var(--greyLight-3) !important;
}
.search__input:focus {
    outline: none !important;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white) !important;
}
.search__input:focus + .search__icon {
    color: var(--primary) !important;
}
.search__icon {
    height: 2rem !important;
    position: absolute !important;
    font-size: 2rem !important;
    padding: 0 1rem !important;
    display: -webkit-box !important;
    display: flex !important;
    color: var(--greyDark) !important;
    -webkit-transition: .3s ease !important;
    transition: .3s ease !important;
}
