/* Header */
.Header{
    width: 100% !important;
    height: 50px !important;
    padding-top: 15px !important;
}

.HeaderTitle{
    margin: auto auto !important;
    max-width:  150px !important;
}

.GitHubBanner{
fill:#70B7FD; color:#fff; position: absolute; top: 0; border: 0; right: 0;
}
.octo_arm{
    transform-origin: 130px 106px;
}
.github_corner:hover .octo_arm{
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-25deg)}
    40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px){
    .github_corner:hover .octo-arm{
        animation:none
    }
    .github_corner .octo_arm{
        animation:octocat-wave 560ms ease-in-out
    }
}

/* Search */
.SearchComponent{
    width: 100% !important;
    text-align: center !important;
    margin-top: 5px !important;
}